<div class="container container-fluid spacer-top-100">
    <div class="row">
        <div class="col-lg-12">
            <div class="mx-auto max-window-width">
                <div style="text-align: center; font-size: 200px;">404</div>
                <div style="text-align: center; font-size: 50px; margin-bottom: 20px;">Page Not Found Error</div>
                <img style="text-align: center; margin: 0 auto; display: block;" width=300 height=300 src="../../assets/skull_and_crossbones.jpg" />
            </div>
        </div>
    </div>
</div>