@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Saml Response Post</title>
    <script>window.onload = function () { setTimeout(function () { document.forms[0].submit(); }, 100); }</script>
</head>
<body>
    <form method="post" action="@ViewBag.ACSUrl">
        <input type="hidden" name="@ViewBag.SamlParameterName" value="@ViewBag.EncodedSaml" />
    @if (ViewBag.RelayState != null) {
        <input type="hidden" name="TARGET" value="@ViewBag.RelayState"/>
    }
        <button type="submit" style="display: none">Submit</button>
    </form>
</body>
</html>